.sidePanelRoot {
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 3px 0;

    span {
      height: 21px;
    }

    &.selected,
    &.selected:hover {
      border: 1px solid coral;
    }

    &:hover {
      border: 1px solid cadetblue;
      cursor: pointer;
    }
  }

  .icon {
    &.selected,
    &:hover {
      color: teal;
    }
  }
}
